<br><br><br>
<div class="card card-style mt-5">
    <div class="content mb-0">
        <center>
            <img src="assets/img/img.png" width="70%">
        </center>
        <h3 class="text-center">Welcome Back</h3>
        <p class="text-center">
            Please login to continue with True Transfer app
        </p>
        <form action="/signin" method="post">
            {{#if signInErr}}
            <div class="alert alert-danger" style="border-radius: 10px;" role="alert">
                <p class="error alert-heading">{{signInErr}}</p>
            </div>
            {{/if}}
            <div class="input-style has-borders has-icon validate-field mb-4">
                <i class="fa fa-envelope"></i>
                <input type="email" name="Email" class="form-control validate-name" id="form1" placeholder="Email"
                    required>
                <label for="form1" class="color-highlight">Email</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>

            <div class="input-style has-borders has-icon validate-field mb-4">
                <i class="fa fa-star"></i>
                <input type="password" name="Password" class="form-control validate-name" id="form1"
                    placeholder="Password" required>
                <label for="form1" class="color-highlight">Password</label>
                <i class="fa fa-times disabled invalid color-red-dark"></i>
                <i class="fa fa-check disabled valid color-green-dark"></i>
                <em>(required)</em>
            </div>

            <button type="submit"
                class="btn btn-full btn-m shadow-l mb-3 w-100 rounded-s font-600 bg-blue-dark mt-4">Signin</button>

        </form>

    </div>
    <p class="text-center mb-3">Dont have an account? <a href="/signup">Signup Now</a></p>

</div>
</div>