<style>
    body {
        background-color: white;
    }
</style>

<br><br><br>
<div class="container">
    <center>
        <img src="/img/img.png" width="100%"><br><br>
        <p>Welcome to</p>
        <h1 style="margin-top: -25px;">True Transfer</h1>
        <p class="p-4">Safe and simple digital asset exchanges. Trust, security, and ease combined for seamless resource
            sharing.
            Your go-to platform for worry-free transactions</p><br><br>
        <a href="/signin" style="border-radius: 50px;" class="btn p-3 btn-dark w-100">Sign In</a>
        <a href="/signup" style="border-radius: 50px; border:1px solid black; "
            class="btn btn-bordered btn-white text-dark mt-2 p-3 w-100">Sign Up</a>


    </center>
</div>